/* IDs */

/* main title details */
#header1 {
  font-size: 6rem;
  font-weight: 300;
  color: black;
    /* source:https://www.kirupa.com/tricks/text_outline_effect.htm */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  margin-top: 10%;
}

/* subtitle details */
#header2 {
  color: black;
  font-weight: bold;
}

/* Classes */

/* changing filter inout box length */
.filter_form {
    width: 200px;
}

/* Center text */
.center_txt {
    text-align: center;
}  

/* updating jumbotron class from bootstrap */
.jumbotron_update {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    background-color: #073642;
    border-radius: 0.3rem;
}

/* padding below filter form */
.padding_form {
  margin-bottom: 10px;
  margin-top: 10px;
}

/* setting card dimensions with filter information */
.card_width {
  max-width: 15rem;
  height: 13rem;
}

/* format table text to be centered */
.table_text {
  text-align: center;
}

/* format table with borders */
.table_border {
  border: 2px solid rgba(255, 255, 255, 0.075);
}

/* animation delay for subtitle */
.delay {
  --animate-delay: 1.5s;
}

/* code from example index.html provided in HW 14 */
/* background image details */
.hero {
  position: relative;
  height: 650px;
  padding: 20px;
  margin: 0;
  background: black;
  /* trees_nightsky - source:https://unsplash.com/photos/UFqKI4QWd2k */
  background-image: url("../Images/trees_nightsky.jpg");
  background-position:center;
  background-size: cover;
  background-position-y: bottom;
}

/* styling for when alert is visible to user */
.alert_details {
  width: 450px;
  height:50px;
  margin-left: auto;
  margin-right: auto;
  visibility: visible;
}

/* hide alert until user inputs criteria that cannot be found */
.alert_hide {
  visibility: hidden;
}


