/* IDs */

/* main title details */
#header1 {
  font-size: 6rem;
  font-weight: 300;
  color: black;
    /* source:https://www.kirupa.com/tricks/text_outline_effect.htm */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  margin-top: 10%;
}

/* subtitle details */
#header2 {
  color: black;
}

/* Classes */


/* Center text */
.center_txt {
    text-align: center;
}

/* centering image */
/* source: https://www.w3schools.com/howto/howto_css_image_center.asp */
/* .center_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}  */

/* animation delay for subtitle */
.delay {
  --animate-delay: 1.5s;
}

/* updating jumbotron class from bootstrap */
.jumbotron_update {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    background-color: #073642;
    border-radius: 0.3rem;
  }

/* .positioning {
  position: relative;
} */

  /* padding below filter form */
.padding_form {
    margin-bottom: 10px ;
    margin-top: 10px;
  }

  /* setting card dimensions with filter information */
.card_width {
    max-width: 14rem;
    height: 10rem;
  }

  /* format table text to be centered */
.table_text {
    text-align: center;
  }

/* format table with borders */
.table_border {
    border: 2px solid rgba(255, 255, 255, 0.075);
  }

/* code from example index.html provided in HW 14 */
  /* background image details */
.hero {
  position: relative;
  height: 650px;
  padding: 20px;
  margin: 0;
  background: black;
  /* trees_nightsky - source:https://unsplash.com/photos/UFqKI4QWd2k */
  background-image: url("../Images/trees_nightsky.jpg");
  background-position:center;
  background-size: cover;
  background-position-y: bottom;
}
